#background_contact{
	background: no-repeat top center;
	background-image: url('../images/munte.jpg');
	background-position-x: 80%;
	background-position-y: -10%;
	background-color: rgb(32,32,32);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3000px;
}
.navbar-default{
	background-color:  rgba(32, 26, 6, 0.87);
}
.row h2{
	color: #777;
}
.contactsize{
	max-height: 500px;
	max-width: 500px;
	margin: auto;
}
