  .cont{
    margin:0px;
    padding:10px;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border-color: transparent;
    border-radius: 5px;
  }
  .slider{
    position:relative;
    margin:30px auto;
    display:table;
    background:#eee;
    padding:0px;
    color:#444;
    border-radius:8px;
  }
  .slider ul{
    position:relative;
    padding:0px;
  }
  .slider li{
    position:relative;
    z-index:3;
    cursor:pointer;
    width:80px;
    vertical-align:middle;
    list-style:none;
    display:table-cell;
    padding:15px 3px;
    margin:0px;
    text-align:center;
    border-left:1px solid #ddd;

  }
  .slider li> img{
    max-height: 64px;
    max-width: 64px;
  }
  .slider li:first-child{
    background:#4E6370;
    border-radius:5px;
    border-left:none;;
    color:#fff;
  }
  .slibox{
    position:absolute;
    text-align:center;
    color:#fff;
    z-index:2;
    width:90px;
    padding-top:98px;   
    top:-4px;
    left:0px;
    border-radius:5px;
    background:#81C31D;
  }
  .tab-content{
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-radius: 15px;
    background-color: rgb(18, 17, 17)
  }
  #background-africa {
  background: no-repeat top center;
  background-image: url('../images/africa.jpg');
  background-position-x: 80%;
  background-position-y: -10%;
  background-color: rgb(32,32,32);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3000px;  
}
.donate{
    margin:0px;
    padding: 50px;
    padding-top: 10px;
    max-width: 600px;
    background-color: rgba(52, 49, 40, 0.87);
    border-color: transparent;
    border-radius: 5px;
}
.donate h3 , h5{
  color: white;
}
.donate h5{
  padding-bottom: 50px;
}
.donatefooter{
  background-color: rgba(224, 224, 221, 1);
  border-bottom-color: rgba(203, 202, 199, 1);
  border-radius: 5px; 
  padding-bottom: 0px;
}
