#background-savana{
	background: no-repeat top center;
	background-image: url('../images/savana.jpg');
	background-position-x: 80%;
	background-position-y: -8%;
	background-color: rgb(32,32,32);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3000px;
}
.navbar-default{
	border:none;

	background-color: rgba(192, 156, 41, 0.87) ;
	/*rgba(20, 36, 1, 0.82)*/
}
.description p{
	text-align: justify;
	font-family: Gill Sans MT, sans-serif;
}
.description h2{
	text-align: left;
	font-family: Gill Sans MT, sans-serif;
}
.description{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: auto;
	background-color: rgba(192, 156, 41, 0.87);
	border-radius: 5px;
	color: #E2D4AA;
	max-height: 310px;
}
.videosize{
	height: 300px;
}
