#background {
	background: no-repeat top center;
	background-image: url('../images/jungle.jpg');
	background-position-x: 80%;
	background-position-y: -10%;
	background-color: rgb(32,32,32);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3000px;  
}
#shadow{
	background: repeat-y top center;
	background-image: url(http://woodsly.com/lookbooks/summer-2014/assets/shadow.png);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#social{
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 7px 5px;
	z-index: 15000;
	background: white;
	opacity: 0.4;
}
#social a {
	width: 25px;
	display: block;
	margin: 6px 5px 4px;
}
#social img {
	width: 100%;
}

/* NAVBAR */
.navbar-brand{
	padding:5px 0 15px 15px !important;
}

.logo_text{
	float:left;
	/*top:30px;*/
	/*opacity:0;*/
}

.logo_text img{
	height: 64px;
	width: auto;
}

.logo_copy{
	margin-top:15px;
	opacity:0;
}

.logo_text:hover .logo_copy{
	opacity:1;
}

.navbar{
	min-height:75px;
}


.navbar-collapse{
	float: right;
}

.navbar-toggle{
	margin-top:14px;
}

.navbar-default{
	border:none;

	background-color: rgba(111, 94, 38, 0.87) ;
	/*rgba(20, 36, 1, 0.82)*/
}

.navbar-nav>.current>a,
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #C93;
	background-color: transparent;
	opacity:1;
	
}

.nav>li>a {
	margin: 0 20px;
	padding:0;
	letter-spacing: .1em;
	opacity:.6;
}

.nav>.last>a {
	margin-right: 0px;
}

.nav>.first>a {
	margin-left: 0px;
}

.navbar-nav>li>a {
	padding-top: 30px;
	padding-bottom: 2px;
	text-transform:uppercase;
	font-size:1.5em;
	font-family: "bryant-web-alternate",sans-serif;
	font-weight:400;
	color:#fff;
	
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}


.navbar-brand img{
	height:64px;
	width:auto;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.spacer5{
	display: block;
	height: 5px;
}

.spacer10{
	display: block;
	height: 10px;
}

.spacer20{
	display: block;
	height: 20px;
}
#animated_div
{
	position: relative;
	
	border-radius:5px;
	-webkit-border-radius:5px;
}
#animated_div img:hover{
	animation:animated_div 5s 1;
	-moz-animation:animated_div 5s 1;
	-webkit-animation:animated_div 5s 1;
	-o-animation:animated_div 5s 1;
}
@keyframes animated_div
{
	0%		{transform: rotate(0deg);left:0px;}
	25%		{transform: rotate(20deg);left:0px;}
	50%		{transform: rotate(0deg);left:0px;}
	55%		{transform: rotate(0deg);left:0px;}
	70%		{transform: rotate(0deg);left:0px;}
	100%	{transform: rotate(-360deg);left:0px;}
}
@-webkit-keyframes animated_div
{
0%		{-webkit-transform: rotate(0deg);left:0px;}
25%		{-webkit-transform: rotate(20deg);left:0px;}
50%		{-webkit-transform: rotate(0deg);left:0px;}
55%		{-webkit-transform: rotate(0deg);left:0px;}
70%		{-webkit-transform: rotate(0deg);left:0px;}
100%	{-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%   {-moz-transform: rotate(0deg);left:0px;}
25%  {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:100px;}
55%  {-moz-transform: rotate(0deg);left:100px;}
70%  {-moz-transform: rotate(0deg);left:100px;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0%   {transform: rotate(0deg);left:0px;}
25%  {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}
.papirus{
	position: relative;
	min-height: 27px;
  	background-image: url(http://totezgame.com/img/border-top.png);
 	background-repeat: repeat-x;
  	padding-top: 27px;
  	background-color: #c5b89f;
  	text-align: center;
}
.papirus-cont{
	padding: 30px 0 25px;
  	background-image: url(http://totezgame.com/img/bg-paper-darkest.jpg);
  	-webkit-background-size: 100% 100%;
    background-size: 100%;
  	background-repeat: repeat-y;	
}
.papirus p {
  font-size: 1.6em;
  line-height: 1.5;
  margin-bottom: 1.5em;

}
footer{
	position: relative;
	background-color: rgba(73, 77, 45, 0.88);
	padding: 1.5em 0;
	text-align: left;
	color: #D9A235;
}
.container-fluid{
	max-width: 1200px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

}
.continut{
	max-width: 1030px;
	color: #888;
	background-color: #202020;
	margin: 0 auto;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
}
.img-zoo img{
	position: relative;
	max-width: 1030px;
	max-height: auto;
	margin: 0 auto;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent;
}
.dropdown-menu{
	background-color:  rgba(44, 47, 28, 0.87);
	border-radius: 5px;
}
.dropdown-menu > li > a{
	color: #C93;
}
.paragraf img{
	max-height: 500px;
	max-width: 1000px;
}
.scris {
	border-radius: 5px;
	padding: 15px;
	padding-top: 1px; 
	color: rgba(44, 47, 28, 0.87);
	background-color: rgba(110, 110, 108, 0.87) ;
	text-align: justify;
	margin: auto;
	max-width: 500px;
}
.scris p, h1{
	font-family: Gill Sans MT, sans-serif;
}